n8n_workflows/chat-memory-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -288,
        -32
      ],
      "id": "bf269caf-b1aa-4f2b-b2b5-5f77ed8a08ae",
      "name": "Webhook",
      "webhookId": "5bedf5bb-440f-4372-bc75-203eeb22cc5c"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from incoming request\nconst body = items[0].json.body || {};\nconst conversationId = body.conversationId || `conv_${Date.now()}`;\nconst userMessage = body.message || '';\nconst action = body.action || 'chat'; // 'chat', 'clear', 'get'\n\n// ADD THIS: Only include userMessage for chat actions\nconst effectiveMessage = (action === 'chat') ? userMessage : '';\n\nreturn [{\n  json: {\n    conversationId: conversationId,\n    userMessage: effectiveMessage,  // Use effectiveMessage\n    action: action,\n    timestamp: new Date().toISOString(),\n    // Redis key for storing conversation history\n    redisKey: `chat:${conversationId}`,\n    // ADD: Flag to indicate if this is a chat action\n    isChatAction: (action === 'chat')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -32
      ],
      "id": "e5152016-9316-4487-acd7-202996bf2642",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.redisKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        384,
        -224
      ],
      "id": "7a5d27ac-d0a1-4b3d-8b56-9a7415c55446",
      "name": "Redis",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "yXsSNEwc8Lpizqg5",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the conversation data that was passed through\nconst conversationData = $('Code in JavaScript').first().json;\n\n// Get Redis data - FIXED: Handle the actual structure\nlet existingHistory = [];\ntry {\n  const redisResult = $input.first().json;\n  \n  // Redis returns data in a dynamic property name\n  if (redisResult) {\n    const propertyNames = Object.keys(redisResult);\n    if (propertyNames.length > 0) {\n      const firstProperty = propertyNames[0];\n      const redisValue = redisResult[firstProperty];\n      \n      if (redisValue) {\n        existingHistory = JSON.parse(redisValue);\n      }\n    }\n  }\n} catch (error) {\n  console.log('No existing history, starting fresh');\n  existingHistory = [];\n}\n\n// Count previous user messages\nconst previousUserMessages = existingHistory.filter(msg => msg.role === 'user').length;\n\n// Add new user message to history\nconst newUserMessage = {\n  role: 'user',\n  content: conversationData.userMessage,\n  timestamp: conversationData.timestamp\n};\n\nconst newHistory = [...existingHistory, newUserMessage];\n\n// Generate bot response\nconst botResponse = {\n  role: 'assistant',\n  content: `I received: \"${conversationData.userMessage}\". This is message #${previousUserMessages + 1} in our conversation.`,\n  timestamp: new Date().toISOString()\n};\n\nnewHistory.push(botResponse);\n\n// Keep only last 20 messages (10 conversation turns)\nlet finalHistory = newHistory;\nif (newHistory.length > 20) {\n  finalHistory = newHistory.slice(-20);\n}\n\nreturn {\n  conversationId: conversationData.conversationId,\n  redisKey: conversationData.redisKey,\n  chatHistory: finalHistory,\n  latestResponse: botResponse.content,\n  historyCount: previousUserMessages + 1\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -224
      ],
      "id": "55ed8cb9-8de9-417b-8404-ca3d816f38bb",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $json.redisKey }}",
        "value": "={{ $json.chatHistoryString }}",
        "expire": true,
        "ttl": 86400
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        -224
      ],
      "id": "149b8fbd-915d-4875-ac6a-0eeeae397c0f",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "yXsSNEwc8Lpizqg5",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({\n  conversationId: $json.conversationId,\n  message: $json.latestResponse,\n  historyCount: $json.historyCount,\n  timestamp: $now.toISO()\n})}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1280,
        -224
      ],
      "id": "91fcaf73-0e3f-4cfd-9fca-5a0e90001250",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn {\n  conversationId: data.conversationId,\n  redisKey: data.redisKey,\n  chatHistoryString: JSON.stringify(data.chatHistory),\n  latestResponse: data.latestResponse,\n  historyCount: data.historyCount\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -224
      ],
      "id": "0b2aab86-3883-4680-b57f-2f80adf57880",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ \n  $json.action === \"chat\" ? 0 :\n  $json.action === \"get\" ? 1 :\n  $json.action === \"clear\" ? 2 : 3\n}}"
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        160,
        -48
      ],
      "id": "a501365c-5ff5-420a-a08f-c302a3242a9f",
      "name": "Switch",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.redisKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        384,
        -32
      ],
      "id": "f1b9697c-e9a8-49c0-ae70-1c94415517f1",
      "name": "Redis2",
      "alwaysOutputData": false,
      "credentials": {
        "redis": {
          "id": "yXsSNEwc8Lpizqg5",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const conversationData = $('Code in JavaScript').first().json;\nlet history = [];\nlet message = 'No history found';\n\ntry {\n  const redisResult = $input.first().json;\n  \n  if (redisResult) {\n    const propertyNames = Object.keys(redisResult);\n    if (propertyNames.length > 0) {\n      const firstProperty = propertyNames[0];\n      const redisValue = redisResult[firstProperty];\n      \n      if (redisValue) {\n        history = JSON.parse(redisValue);\n        const userMessages = history.filter(msg => msg.role === 'user').length;\n        message = `Retrieved ${userMessages} conversation turns`;\n      }\n    }\n  }\n} catch (error) {\n  message = 'Error retrieving history';\n}\n\nreturn {\n  conversationId: conversationData.conversationId,\n  action: 'get',\n  message: message,\n  history: history,\n  historyCount: history.filter(msg => msg.role === 'user').length,\n  timestamp: new Date().toISOString()\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -32
      ],
      "id": "4ac3dc61-3602-4880-a843-75a3578da21f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({\n  conversationId: $json.conversationId,\n  action: $json.action,\n  message: $json.message,\n  historyCount: $json.historyCount,\n  history: $json.history,\n  timestamp: $now.toISO()\n})}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        832,
        -32
      ],
      "id": "435be7a9-55f7-40eb-8047-b4bf30ca93df",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.redisKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        384,
        160
      ],
      "id": "9a300fbb-54bc-4b7b-ba88-da87c4ebc7cb",
      "name": "Redis3",
      "credentials": {
        "redis": {
          "id": "yXsSNEwc8Lpizqg5",
          "name": "Redis account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify({\n  conversationId: $json.conversationId,\n  action: $json.action,\n  message: \"Chat history cleared successfully\",\n  status: \"success\",\n  timestamp: $now.toISO()\n})}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        608,
        160
      ],
      "id": "416f6e55-77ca-4c86-b1e3-6660c5e72356",
      "name": "Respond to Webhook2"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8168d89a8ce98e7cbc6e660103a8a39adecf0664c1a6488687ea9c9107d1873b"
  }
}
