n8n_workflows/GetCaseStudies.json
{
  "name": "GetCaseStudies",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "case-studies",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "daace6ea-3964-4f55-989d-ffa3007a9229",
      "name": "Webhook",
      "webhookId": "f02fb3eb-54a1-4966-8c9a-ca9e0543feb7"
    },
    {
      "parameters": {
        "jsCode": "const filter = items[0].json.body.filter || {};\nconst query = items[0].json.body.query || \"show me case studies\";\n\nreturn [{\n  json: {\n    query: query,\n    filter: filter\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "76f24134-72fb-4916-ba5f-0f829eeced5c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const query = items[0].json.query;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://embedding-service/embeddings',\n  headers: {\n    'Content-Type': 'application/json'\n  },\n  body: {\n    input: query   // ✅ NOT inputs\n  },\n  json: true\n});\n\nconst embedding =\n  response.data?.[0]?.embedding ||\n  response.embedding ||\n  response.data;\n\nif (!Array.isArray(embedding)) {\n  throw new Error('Invalid embedding response: ' + JSON.stringify(response));\n}\n\nreturn [{\n  json: {\n    vector: embedding,\n    filter: items[0].json.filter\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "d4b2e2e3-8b3f-4bfa-bfc3-e960e9d9713e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://knowledge-base-h27dgtd.svc.aped-4627-b74a.pinecone.io/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "YOUR_PINECONE_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"vector\": {{ JSON.stringify($json.vector) }},\n  \"topK\": 5,\n  \"includeMetadata\": true,\n  \"filter\": {\n    \"type\": { \"$eq\": \"case_study\" }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        672,
        0
      ],
      "id": "63fed887-46f3-45b0-85aa-65896385e067",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const matches = items[0].json.matches || [];\n\nif (!matches.length) {\n  return [{\n    json: {\n      type: 'case_studies',\n      message: 'No case studies found matching your criteria.',\n      caseStudies: []\n    }\n  }];\n}\n\nconst caseStudies = matches.map(m => ({\n  text: m.metadata.text,\n  industry: m.metadata.industry,\n  projectType: m.metadata.project_type,\n  duration: m.metadata.duration,\n  budget: m.metadata.budget,\n  score: m.score\n}));\n\nconst message = `**${caseStudies.length} Case Studies Found:**\\n\\n` +\n  caseStudies.map((cs, idx) => \n    `**${idx + 1}. ${cs.industry.toUpperCase()} - ${cs.projectType}**\\n${cs.text}\\n`\n  ).join('\\n');\n\nreturn [{\n  json: {\n    type: 'case_studies',\n    message: message,\n    caseStudies: caseStudies,\n    count: caseStudies.length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        0
      ],
      "id": "8fc302f1-790d-4a2c-b9ad-99936c737552",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1120,
        0
      ],
      "id": "0e837d9b-be89-456e-9ff4-9b60bcbf0095",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86feaa4a-5f7b-48aa-a15b-f9cd65313291",
  "meta": {
    "instanceId": "8168d89a8ce98e7cbc6e660103a8a39adecf0664c1a6488687ea9c9107d1873b"
  },
  "id": "MHV1S5aaGT3f52VI",
  "tags": []
}