n8n_workflows/Navigate.json
{
  "name": "Navigate",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "navigate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1891e1fa-a238-453c-8b6f-e083b1f7e8c4",
      "name": "Webhook",
      "webhookId": "46b0af81-749f-4afa-bf25-66c327758cc0"
    },
    {
      "parameters": {
        "jsCode": "// Extract destination from request body\nconst destination = items[0].json.body?.destination || 'home';\nconst conversationId = items[0].json.body?.conversationId || '';\n\n// Map destinations to actual URLs\nconst urlMap = {\n  'home': 'https://thehexaa.ai/',\n  'pricing': 'https://thehexaa.ai/pricing',\n  'contact': 'https://thehexaa.ai/contact-us',\n  'services': 'https://thehexaa.ai/industries/artificial-intelligence',\n  'blog': 'https://thehexaa.ai/ai-agents',\n  'book': 'https://calendly.com/your-booking-link',\n  'about': 'https://thehexaa.ai/about'\n};\n\n// Get the redirect URL (fallback to home if destination not found)\nconst redirectUrl = urlMap[destination] || urlMap['home'];\n\nconsole.log(`Redirecting to: ${redirectUrl}`);\n\n// Return data for the response node\nreturn [{\n  json: {\n    redirectUrl: redirectUrl,\n    destination: destination,\n    conversationId: conversationId\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "a47f89c3-60b0-429e-b985-e5ca51074e0e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {
          "responseCode": 302,
          "responseHeaders": {
            "entries": [
              {
                "name": "Location",
                "value": "={{ $json.redirectUrl }}"
              }
            ]
          },
          "responseKey": "=={\n  \"status\": \"redirecting\",\n  \"url\": $json.redirectUrl\n}",
          "enableStreaming": false
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        448,
        0
      ],
      "id": "56397491-f722-4dd0-b038-a0db9277b7d4",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "763b5117-5ff5-4f0c-9ef6-ef0e03932724",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8168d89a8ce98e7cbc6e660103a8a39adecf0664c1a6488687ea9c9107d1873b"
  },
  "id": "XRfhKsRUoKnKgUXH",
  "tags": []
}