n8n_workflows/predict.json
{
  "name": "predict",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get data from webhook body\nconst body = items[0].json.body || {};\nconst userText = (body.text || '').trim(); // Fixed: Remove the duplicate declaration below\n\n// Get conversation context from body or default\nconst conversationId = body.conversationId || 'unknown_conversation';\nconst redisKey = body.redisKey || `chat:${conversationId}`;\n\nconsole.log('Received conversationId:', conversationId);\nconsole.log('Received redisKey:', redisKey);\n\n// Removed duplicate line: const userText = (items[0].json.body.text || '').trim();\nconst textLower = userText.toLowerCase();\n\n// Initialize response\nlet intent = 'unknown';\nlet entities = {};\nlet confidence = 0;\nlet responseMessage = '';\n\nconsole.log('=== INTENT DETECTION START ===');\nconsole.log('User text:', userText);\nconsole.log('Text lower:', textLower);\n\n// ============================================\n// PRICING CALCULATION FUNCTION\n// ============================================\n\nfunction calculatePriceEstimate(serviceType, pages, features = []) {\n  let estimate = 0;\n  let priceBreakdown = '';\n  let basePrice = 0;\n  let perPageRate = 0;\n  let complexityFactor = 1.0;\n  let featureAddons = 0;\n  \n  // Determine service type\n  const normalizedServiceType = serviceType ? \n    (serviceType.includes('web') ? 'web_app' : \n     serviceType.includes('mobile') ? 'mobile_app' : \n     'web_app') : 'web_app';\n  \n  const pageCount = pages || 1;\n  \n  // Calculate base price and per-page rate based on service type\n  if (normalizedServiceType === 'web_app') {\n    if (pageCount === 1) {\n      basePrice = 500;\n      perPageRate = 0;\n      priceBreakdown = \"Single page landing site\";\n      estimate = basePrice;\n    } else if (pageCount >= 2 && pageCount <= 5) {\n      basePrice = 1500;\n      perPageRate = 300;\n      priceBreakdown = `Small website: Base $1500 + ${pageCount - 2} additional pages × $300`;\n      estimate = basePrice + (pageCount - 2) * perPageRate;\n    } else if (pageCount >= 6 && pageCount <= 10) {\n      basePrice = 2500;\n      perPageRate = 250;\n      priceBreakdown = `Medium website: Base $2500 + ${pageCount - 6} additional pages × $250`;\n      estimate = basePrice + (pageCount - 6) * perPageRate;\n    } else if (pageCount > 10 && pageCount <= 20) {\n      basePrice = 4000;\n      perPageRate = 200;\n      priceBreakdown = `Large website: Base $4000 + ${pageCount - 10} additional pages × $200`;\n      estimate = basePrice + (pageCount - 10) * perPageRate;\n    } else {\n      basePrice = 6000;\n      perPageRate = 150;\n      priceBreakdown = `Enterprise website: Base $6000 + ${pageCount - 20} additional pages × $150`;\n      estimate = basePrice + (pageCount - 20) * perPageRate;\n    }\n    \n  } else if (normalizedServiceType === 'mobile_app') {\n    // Mobile App Pricing Logic\n    if (pageCount <= 3) {\n      basePrice = 3000;\n      perPageRate = 0;\n      priceBreakdown = \"Basic mobile app (1-3 screens)\";\n      estimate = basePrice;\n    } else if (pageCount >= 4 && pageCount <= 8) {\n      basePrice = 5000;\n      perPageRate = 500;\n      priceBreakdown = `Standard mobile app: Base $5000 + ${pageCount - 4} additional screens × $500`;\n      estimate = basePrice + (pageCount - 4) * perPageRate;\n    } else if (pageCount >= 9 && pageCount <= 15) {\n      basePrice = 7500;\n      perPageRate = 400;\n      priceBreakdown = `Advanced mobile app: Base $7500 + ${pageCount - 9} additional screens × $400`;\n      estimate = basePrice + (pageCount - 9) * perPageRate;\n    } else {\n      basePrice = 10000;\n      perPageRate = 300;\n      priceBreakdown = `Complex mobile app: Base $10000 + ${pageCount - 15} additional screens × $300`;\n      estimate = basePrice + (pageCount - 15) * perPageRate;\n    }\n  } else {\n    // Default/Unknown service type\n    basePrice = 1000;\n    estimate = basePrice;\n    priceBreakdown = \"Custom service - requires consultation\";\n  }\n  \n  // Apply complexity factor based on features\n  if (features && features.length > 0) {\n    complexityFactor += features.length * 0.1; // 10% increase per feature\n    featureAddons = features.length * 500; // $500 per additional feature\n  }\n  \n  // Apply complexity factor\n  estimate = Math.round(estimate * complexityFactor + featureAddons);\n  \n  return {\n    estimate: estimate,\n    base_price: basePrice,\n    per_page_rate: perPageRate,\n    page_count: pageCount,\n    service_type: normalizedServiceType,\n    price_breakdown: priceBreakdown,\n    features: features || [],\n    complexity_factor: complexityFactor.toFixed(2),\n    feature_addons: featureAddons,\n    currency: \"USD\"\n  };\n}\n\n// ============================================\n// UTILITY FUNCTIONS\n// ============================================\n\n// Function to extract numbers with context\nfunction extractNumbersWithContext(text) {\n  const numberPatterns = [\n    { pattern: /(\\d+)\\s*(?:page|pages)/gi, type: 'pages' },\n    { pattern: /(\\d+)\\s*(?:feature|features)/gi, type: 'feature_count' },\n    { pattern: /(\\d+)\\s*(?:product|products)/gi, type: 'product_count' },\n    { pattern: /(\\d+)\\s*(?:month|months)/gi, type: 'timeline_months' },\n    { pattern: /(\\d+)\\s*(?:week|weeks)/gi, type: 'timeline_weeks' },\n    { pattern: /(\\d+)\\s*(?:day|days)/gi, type: 'timeline_days' },\n    { pattern: /\\$(\\d+(?:,\\d{3})*(?:\\.\\d{2})?)/gi, type: 'budget' },\n    { pattern: /(\\d+)\\s*(?:user|users)/gi, type: 'user_count' },\n    { pattern: /(\\d+)\\s*(?:screen|screens)/gi, type: 'screen_count' },\n    { pattern: /(\\d+)\\s*(?:section|sections)/gi, type: 'section_count' }\n  ];\n  \n  const results = {};\n  \n  for (const { pattern, type } of numberPatterns) {\n    const matches = [...text.matchAll(pattern)];\n    if (matches.length > 0) {\n      if (type === 'budget') {\n        results[type] = matches.map(match => parseFloat(match[1].replace(/,/g, '')));\n      } else {\n        results[type] = matches.map(match => parseInt(match[1]));\n      }\n    }\n  }\n  \n  return results;\n}\n\n// ============================================\n// 0. SPECIAL PAYMENT DETECTION FIRST (FIX FOR BUG)\n// ============================================\n\n// Check for payment-specific queries FIRST to prevent misclassification\nif (textLower.includes('payment method') || \n    textLower.includes('payment option') || \n    textLower.includes('pay with') ||\n    (textLower.includes('accept') && (textLower.includes('payment') || textLower.includes('pay'))) ||\n    textLower.includes('credit card') ||\n    textLower.includes('paypal') ||\n    textLower.includes('bank transfer')) {\n  \n  console.log('Detected payment query early - skipping greeting detection');\n  intent = 'payment_inquiry';\n  confidence = 0.90;\n  \n  if (textLower.includes('method') || textLower.includes('option')) {\n    entities.payment_query = 'methods';\n  } else if (textLower.includes('when') || textLower.includes('schedule')) {\n    entities.payment_query = 'schedule';\n  } else {\n    entities.payment_query = 'general';\n  }\n  \n  responseMessage = \"I can provide information about payment options.\";\n  \n  return [{\n    json: {\n      intent: intent,\n      entities: entities,\n      confidence: confidence,\n      original_text: userText,\n      response_message: responseMessage,\n      is_greeting: false\n    }\n  }];\n}\n\n// ============================================\n// 1. GREETINGS & SOCIAL INTENTS (FIXED LOGIC)\n// ============================================\n\nconst greetingPatterns = {\n  hello: ['hi', 'hello', 'hey', 'good morning', 'good afternoon', 'good evening', 'greetings', 'yo', 'howdy', 'hiya', 'hi!'],\n  goodbye: ['bye', 'goodbye', 'see you', 'take care', 'farewell', 'later', 'catch you later', 'ttyl'],\n  how_are_you: ['how are you', 'how do you do', 'how are things', 'how is it going', \"how's it going\", 'whats up', \"what's up\", 'wassup', 'hi! how are you?', 'how are you?', 'how do you do?'],\n  thanks: ['thank', 'thanks', 'thank you', 'appreciate', 'grateful', 'thx'],\n  yes: ['yes', 'yeah', 'yep', 'sure', 'okay', 'ok', 'alright', 'sounds good', 'agreed', 'correct', 'right', 'affirmative'],\n  no: ['no', 'nope', 'nah', 'not really', 'negative', 'disagree']\n};\n\n// Check greetings - FIXED: Only match exact or whole phrases\nlet greetingDetected = false;\nlet detectedGreeting = '';\n\nfor (const [greetingIntent, patterns] of Object.entries(greetingPatterns)) {\n  // Check each pattern\n  for (const pattern of patterns) {\n    // Only match if:\n    // 1. Exact match (textLower === pattern)\n    // 2. Starts with pattern followed by space\n    // 3. Pattern is a multi-word phrase and appears as whole phrase\n    if (textLower === pattern || \n        textLower.startsWith(pattern + ' ') ||\n        (pattern.includes(' ') && textLower.includes(' ' + pattern + ' ')) ||\n        textLower.endsWith(' ' + pattern)) {\n      \n      console.log(`GREETING DETECTED: ${greetingIntent} with pattern: \"${pattern}\"`);\n      greetingDetected = true;\n      detectedGreeting = greetingIntent;\n      intent = greetingIntent;\n      confidence = 0.95;\n      \n      // Set appropriate responses\n      switch(greetingIntent) {\n        case 'hello':\n          responseMessage = \"Hello! I'm here to help you with our software development services. What would you like to know?\";\n          break;\n        case 'goodbye':\n          responseMessage = \"Goodbye! Feel free to come back anytime you have questions. Have a great day!\";\n          break;\n        case 'how_are_you':\n          responseMessage = \"I'm doing great, thank you for asking! I'm here and ready to help you with information about our services. What can I assist you with?\";\n          break;\n        case 'thanks':\n          responseMessage = \"You're very welcome! Is there anything else I can help you with?\";\n          break;\n        case 'yes':\n          responseMessage = \"Great! How can I assist you further?\";\n          break;\n        case 'no':\n          responseMessage = \"No problem! Let me know if you need anything else.\";\n          break;\n      }\n      \n      break; // Exit pattern loop\n    }\n  }\n  \n  if (greetingDetected) {\n    console.log(`Returning greeting response for: ${detectedGreeting}`);\n    return [{\n      json: {\n        intent: intent,\n        entities: entities,\n        confidence: confidence,\n        original_text: userText,\n        response_message: responseMessage,\n        is_greeting: true\n      }\n    }];\n  }\n}\n\nconsole.log('No greeting detected, continuing with other intents...');\n\n// ============================================\n// 2. PRICING & COST INTENTS - ENHANCED VERSION WITH CALCULATION\n// ============================================\n\nconst pricingKeywords = ['price', 'cost', 'how much', 'pricing', 'rate', 'charge', 'fee', 'budget', 'expensive', 'cheap', 'affordable', 'quote', 'estimate', '$', 'dollar'];\n\nif (pricingKeywords.some(keyword => textLower.includes(keyword))) {\n  intent = 'request_estimate';\n  confidence = 0.85;\n  \n  // Use number extraction utility\n  const numberExtractions = extractNumbersWithContext(userText);\n  Object.assign(entities, numberExtractions);\n  \n  // Extract service type\n  const serviceTypes = {\n    web_app: ['website', 'web app', 'web application', 'web dev', 'web development', 'web site', 'web page', 'landing page', 'ecommerce', 'e-commerce', 'web', 'site'],\n    mobile_app: ['mobile', 'mobile app', 'ios', 'android', 'app development', 'smartphone app', 'tablet app', 'application', 'ios app', 'android app'],\n    custom_software: ['software', 'custom software', 'enterprise software', 'business software', 'saas', 'platform', 'system'],\n    design: ['design', 'ui', 'ux', 'user interface', 'user experience', 'graphic design', 'logo', 'branding'],\n    maintenance: ['maintenance', 'support', 'update', 'fix', 'bug fix', 'hosting', 'server']\n  };\n  \n  for (const [serviceType, keywords] of Object.entries(serviceTypes)) {\n    if (keywords.some(keyword => textLower.includes(keyword))) {\n      entities.service_type = serviceType;\n      break;\n    }\n  }\n  \n  // Extract project size/complexity indicators\n  if (textLower.includes('simple') || textLower.includes('basic') || textLower.includes('small') || textLower.includes('starter')) {\n    entities.project_size = 'small';\n    entities.complexity = 'simple';\n  } else if (textLower.includes('complex') || textLower.includes('advanced') || textLower.includes('large') || textLower.includes('enterprise')) {\n    entities.project_size = 'large';\n    entities.complexity = 'complex';\n  } else if (textLower.includes('medium') || textLower.includes('standard') || textLower.includes('regular')) {\n    entities.project_size = 'medium';\n    entities.complexity = 'medium';\n  }\n  \n  // Extract page count - enhanced pattern matching\n  const pagePatterns = [\n    /(\\d+)\\s*(?:page|pages)/i,\n    /(\\d+)\\s*(?:webpage|webpages)/i,\n    /(\\d+)\\s*(?:screen|screens)/i,\n    /(\\d+)\\s*(?:section|sections)/i\n  ];\n  \n  for (const pattern of pagePatterns) {\n    const pageMatch = userText.match(pattern);\n    if (pageMatch) {\n      entities.pages = parseInt(pageMatch[1]);\n      break;\n    }\n  }\n  \n  // Extract feature mentions\n  const featureKeywords = {\n    ecommerce: ['ecommerce', 'e-commerce', 'shop', 'store', 'cart', 'checkout', 'payment gateway', 'online store'],\n    cms: ['cms', 'content management', 'wordpress', 'admin panel', 'dashboard'],\n    responsive: ['responsive', 'mobile friendly', 'mobile responsive', 'responsive design'],\n    seo: ['seo', 'search engine', 'optimization'],\n    blog: ['blog', 'news', 'articles'],\n    contact_form: ['contact form', 'form', 'inquiry form'],\n    social_media: ['social media', 'facebook', 'twitter', 'instagram', 'linkedin'],\n    login: ['login', 'sign up', 'registration', 'user account'],\n    database: ['database', 'data storage', 'backend'],\n    api: ['api', 'integration', 'third party']\n  };\n  \n  for (const [feature, keywords] of Object.entries(featureKeywords)) {\n    if (keywords.some(keyword => textLower.includes(keyword))) {\n      if (!entities.features) entities.features = [];\n      if (!entities.features.includes(feature)) {\n        entities.features.push(feature);\n      }\n    }\n  }\n  \n  // Extract approximate budget ranges if mentioned\n  const budgetPatterns = [\n    /(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)\\s*(?:to|-)\\s*(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)/i,\n    /(?:around|about|approximately)\\s*(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)/i,\n    /(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)\\s*(?:or\\s*less|or\\s*more)/i,\n    /(?:budget.*?)(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)/i,\n    /(\\$?\\d+(?:,\\d{3})*(?:\\.\\d{2})?)/i\n  ];\n  \n  for (const pattern of budgetPatterns) {\n    const budgetMatch = userText.match(pattern);\n    if (budgetMatch) {\n      const amount = budgetMatch[1] ? budgetMatch[1].replace(/[$,]/g, '') : budgetMatch[0].replace(/[$,]/g, '');\n      entities.budget = parseFloat(amount);\n      \n      if (budgetMatch[2]) {\n        const amount2 = budgetMatch[2].replace(/[$,]/g, '');\n        entities.budget_range = {\n          min: parseFloat(amount),\n          max: parseFloat(amount2)\n        };\n      }\n      break;\n    }\n  }\n  \n  // Extract timeline mentions\n  if (textLower.includes('urgent') || textLower.includes('quick') || textLower.includes('fast') || textLower.includes('asap')) {\n    entities.timeline = 'urgent';\n  } else if (textLower.includes('month') || textLower.includes('weeks') || textLower.includes('days')) {\n    const timeMatch = userText.match(/(\\d+)\\s*(?:month|months|week|weeks|day|days)/i);\n    if (timeMatch) {\n      entities.timeline_days = parseInt(timeMatch[1]);\n      if (textLower.includes('month')) entities.timeline_days *= 30;\n      else if (textLower.includes('week')) entities.timeline_days *= 7;\n    }\n  }\n  \n  // Specific pricing pattern matching\n  const specificPatterns = [\n    {\n      pattern: /how much (?:does|do|will|would) (?:a|an)?\\s*(.*?)\\s*cost/i,\n      handler: (match) => {\n        const description = match[1] || '';\n        console.log('Specific cost question detected:', description);\n        \n        if (description.includes('simple') && description.includes('website')) {\n          entities.project_size = 'small';\n          entities.service_type = entities.service_type || 'web_app';\n        }\n        \n        const numMatch = description.match(/\\d+/);\n        if (numMatch) {\n          entities.mentioned_number = parseInt(numMatch[0]);\n          \n          if (description.includes('page') && !entities.pages) {\n            entities.pages = parseInt(numMatch[0]);\n          }\n        }\n      }\n    },\n    {\n      pattern: /what.*?(?:price|cost|estimate).*?(?:for|of)\\s*(.*)/i,\n      handler: (match) => {\n        const serviceDesc = match[1] || '';\n        console.log('Price inquiry for:', serviceDesc);\n        \n        if ((serviceDesc.includes('website') || serviceDesc.includes('web')) && !entities.service_type) {\n          entities.service_type = 'web_app';\n        }\n      }\n    },\n    {\n      pattern: /(?:give|provide|send).*?(?:quote|estimate|pricing)/i,\n      handler: () => {\n        entities.request_type = 'formal_quote';\n        responseMessage = \"I'd be happy to provide you with a formal quote! Could you share your email address so I can send you a detailed proposal?\";\n      }\n    }\n  ];\n  \n  for (const { pattern, handler } of specificPatterns) {\n    const match = userText.match(pattern);\n    if (match) {\n      handler(match);\n      break;\n    }\n  }\n  \n  // Calculate price if we have enough information\n  let priceEstimate = null;\n  if (entities.service_type && (entities.pages || entities.project_size)) {\n    const pages = entities.pages || \n      (entities.project_size === 'small' ? 3 : \n       entities.project_size === 'medium' ? 8 : \n       entities.project_size === 'large' ? 15 : 1);\n    \n    priceEstimate = calculatePriceEstimate(\n      entities.service_type, \n      pages, \n      entities.features || []\n    );\n    \n    entities.price_estimate = priceEstimate;\n  }\n  \n  // Enhanced response message\n  if (priceEstimate) {\n    const serviceName = entities.service_type === 'web_app' ? 'website' : \n                       entities.service_type === 'mobile_app' ? 'mobile app' : 'service';\n    \n    responseMessage = `For a ${serviceName} with ${priceEstimate.page_count} ${serviceName === 'mobile app' ? 'screens' : 'pages'}, `;\n    responseMessage += `the estimated cost is **$${priceEstimate.estimate.toLocaleString()}**.`;\n    \n    if (priceEstimate.price_breakdown) {\n      responseMessage += `\\n\\n*Breakdown:* ${priceEstimate.price_breakdown}`;\n    }\n    \n    if (entities.features && entities.features.includes('ecommerce')) {\n      responseMessage += \"\\n\\n*Note:* E-commerce functionality typically adds $2,000-$5,000 depending on product count and payment integration.\";\n    }\n    if (entities.features && entities.features.includes('cms')) {\n      responseMessage += \"\\n*Note:* CMS integration adds approximately $1,000-$3,000.\";\n    }\n    \n    responseMessage += \"\\n\\n*This is a preliminary estimate. For a detailed quote tailored to your specific requirements, please schedule a free consultation.*\";\n    \n  } else if (entities.service_type === 'web_app') {\n    if (entities.pages) {\n      if (entities.project_size === 'small') {\n        responseMessage = `For a simple website with ${entities.pages} pages, the estimated cost typically ranges from $1,000 to $3,000. This includes basic design, responsive layout, and essential features.`;\n      } else if (entities.project_size === 'medium') {\n        responseMessage = `For a ${entities.pages}-page website with standard features, the estimated cost ranges from $3,000 to $8,000.`;\n      } else {\n        responseMessage = `For a complex ${entities.pages}-page website, the estimated cost typically ranges from $8,000 to $20,000+ depending on features.`;\n      }\n    } else {\n      responseMessage = \"I can help you with website pricing! The cost typically ranges from $1,000 for a basic site to $20,000+ for complex web applications. Could you share more details about your requirements?\";\n    }\n    \n  } else if (entities.service_type === 'mobile_app') {\n    responseMessage = \"Mobile app development typically ranges from $10,000 for a simple app to $50,000+ for complex applications. Could you tell me more about the app features you need?\";\n    \n  } else if (entities.service_type === 'custom_software') {\n    responseMessage = \"Custom software solutions typically start at $15,000 and can go up to $100,000+ depending on complexity. Could you share more about your business requirements?\";\n    \n  } else if (entities.service_type === 'design') {\n    responseMessage = \"Design services range from $500 for logo design to $5,000+ for complete brand identity packages. What specific design services are you looking for?\";\n    \n  } else {\n    responseMessage = \"I can help you with pricing information! The cost depends on:\\n\";\n    responseMessage += \"• Project type (website, app, software)\\n\";\n    responseMessage += \"• Complexity and features\\n\";\n    responseMessage += \"• Design requirements\\n\";\n    responseMessage += \"• Timeline\\n\\n\";\n    responseMessage += \"Could you provide more details about what you're looking to build?\";\n  }\n  \n  if (entities.pages || entities.features || entities.budget) {\n    responseMessage += \"\\n\\nFor a more accurate quote, would you like to schedule a free consultation with our team?\";\n  }\n  \n  console.log('Enhanced pricing detection - extracted entities:', entities);\n  if (priceEstimate) {\n    console.log('Price estimate calculated:', priceEstimate);\n  }\n}\n\n// ============================================\n// 3. SERVICE INQUIRY INTENTS\n// ============================================\n\nconst serviceKeywords = ['service', 'offer', 'provide', 'do you', 'can you', 'capability', 'capabilities', 'what do you do'];\n\nif (serviceKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'service_inquiry';\n  confidence = 0.80;\n  \n  if (textLower.includes('web') || textLower.includes('website')) {\n    entities.service_interest = 'web_development';\n  } else if (textLower.includes('mobile') || textLower.includes('app')) {\n    entities.service_interest = 'mobile_development';\n  } else if (textLower.includes('design')) {\n    entities.service_interest = 'design';\n  } else if (textLower.includes('all') || textLower.includes('everything')) {\n    entities.service_interest = 'all_services';\n  }\n  \n  responseMessage = \"I'd be happy to tell you about our services! We specialize in web development, mobile apps, and custom software solutions.\";\n}\n\n// ============================================\n// 4. TIMELINE INTENTS\n// ============================================\n\nconst timelineKeywords = ['how long', 'timeline', 'duration', 'time', 'when', 'deadline', 'delivery', 'completion', 'finish'];\n\nif (timelineKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'timeline_inquiry';\n  confidence = 0.80;\n  \n  if (textLower.includes('website') || textLower.includes('web')) {\n    entities.project_type = 'website';\n  } else if (textLower.includes('app') || textLower.includes('mobile')) {\n    entities.project_type = 'mobile_app';\n  }\n  \n  responseMessage = \"I can provide information about typical project timelines.\";\n}\n\n// ============================================\n// 5. SUPPORT & CONTACT INTENTS\n// ============================================\n\nconst supportKeywords = ['support', 'help', 'contact', 'reach', 'email', 'phone', 'call', 'hours', 'available', 'availability'];\n\nif (supportKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'support_inquiry';\n  confidence = 0.80;\n  \n  if (textLower.includes('hour') || textLower.includes('when') || textLower.includes('available')) {\n    entities.support_type = 'hours';\n  } else if (textLower.includes('email') || textLower.includes('contact')) {\n    entities.support_type = 'contact_info';\n  } else if (textLower.includes('emergency') || textLower.includes('urgent')) {\n    entities.support_type = 'emergency';\n  }\n  \n  responseMessage = \"I can help you with support information.\";\n}\n\n// ============================================\n// 6. PAYMENT INTENTS (REGULAR)\n// ============================================\n\nconst paymentKeywords = ['payment', 'pay', 'method', 'credit card', 'paypal', 'bank transfer', 'invoice', 'billing'];\n\nif (paymentKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'payment_inquiry';\n  confidence = 0.80;\n  \n  if (textLower.includes('method')) {\n    entities.payment_query = 'methods';\n  } else if (textLower.includes('when') || textLower.includes('schedule')) {\n    entities.payment_query = 'schedule';\n  }\n  \n  responseMessage = \"I can provide information about payment options.\";\n}\n\n// ============================================\n// 7. PORTFOLIO & CASE STUDY INTENTS\n// ============================================\n\nconst portfolioKeywords = ['portfolio', 'case study', 'case studies', 'example', 'examples', 'previous work', 'past project', 'show me'];\n\nif (portfolioKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'portfolio_request';\n  confidence = 0.85;\n  \n  if (textLower.includes('ecommerce') || textLower.includes('retail')) {\n    entities.industry = 'ecommerce';\n  } else if (textLower.includes('healthcare') || textLower.includes('medical')) {\n    entities.industry = 'healthcare';\n  } else if (textLower.includes('fintech') || textLower.includes('finance')) {\n    entities.industry = 'fintech';\n  }\n  \n  responseMessage = \"I can show you relevant case studies and examples of our work!\";\n}\n\n// ============================================\n// 8. TECHNOLOGY INQUIRY\n// ============================================\n\nconst techKeywords = ['technology', 'tech stack', 'framework', 'language', 'platform', 'tool', 'use', 'build with', 'built with'];\n\nif (techKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'technology_inquiry';\n  confidence = 0.75;\n  \n  if (textLower.includes('react') || textLower.includes('vue') || textLower.includes('angular')) {\n    entities.tech_interest = 'frontend';\n  } else if (textLower.includes('node') || textLower.includes('python') || textLower.includes('backend')) {\n    entities.tech_interest = 'backend';\n  } else if (textLower.includes('mobile')) {\n    entities.tech_interest = 'mobile';\n  }\n  \n  responseMessage = \"I can tell you about the technologies and frameworks we use.\";\n}\n\n// ============================================\n// 9. COMPARISON INTENTS\n// ============================================\n\nconst comparisonKeywords = ['compare', 'difference', 'vs', 'versus', 'better', 'which', 'or'];\n\nif (comparisonKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'comparison_request';\n  confidence = 0.70;\n  \n  responseMessage = \"I can help you understand the differences and make comparisons.\";\n}\n\n// ============================================\n// 10. COMPLAINT OR ISSUE\n// ============================================\n\nconst complaintKeywords = ['problem', 'issue', 'not working', 'broken', 'error', 'bug', 'complaint'];\n\nif (complaintKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'complaint';\n  confidence = 0.85;\n  entities.sentiment = 'negative';\n  \n  responseMessage = \"I understand you're experiencing an issue. Let me help you resolve this.\";\n}\n\n// ============================================\n// 11. PROCESS INQUIRY\n// ============================================\n\nconst processKeywords = ['process', 'how do you', 'how does', 'workflow', 'steps', 'procedure', 'methodology'];\n\nif (processKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'process_inquiry';\n  confidence = 0.75;\n  \n  responseMessage = \"I can explain our development process and methodology.\";\n}\n\n// ============================================\n// 12. BOOKING/MEETING INTENT\n// ============================================\n\nconst bookingKeywords = ['book', 'schedule', 'meeting', 'appointment', 'call', 'demo', 'consultation'];\n\nif (bookingKeywords.some(keyword => textLower.includes(keyword)) && intent === 'unknown') {\n  intent = 'booking_request';\n  confidence = 0.85;\n  \n  responseMessage = \"I can help you schedule a meeting with our team!\";\n}\n\n// ============================================\n// 13. GENERAL QUESTION\n// ============================================\n\nconst questionWords = ['what', 'why', 'how', 'when', 'where', 'who', 'which'];\n\nif (intent === 'unknown' && questionWords.some(word => textLower.startsWith(word))) {\n  intent = 'general_question';\n  confidence = 0.60;\n  responseMessage = \"Let me find the answer to your question.\";\n}\n\n// ============================================\n// 14. SINGLE-WORD TOPIC DETECTION\n// ============================================\n\nconst singleWordTopics = {\n  web: {\n    intent: 'service_inquiry',\n    entities: { service_interest: 'web_development' },\n    confidence: 0.70,\n    response: \"Are you asking about web development services? I can help with:\\n• Website development\\n• Web applications\\n• E-commerce solutions\\n• Responsive design\\n\\nWhat specifically would you like to know?\"\n  },\n  mobile: {\n    intent: 'service_inquiry', \n    entities: { service_interest: 'mobile_development' },\n    confidence: 0.70,\n    response: \"Are you asking about mobile app development? I can help with:\\n• iOS apps\\n• Android apps\\n• Cross-platform solutions\\n• App design and UX\\n\\nWhat specifically would you like to know?\"\n  },\n  app: {\n    intent: 'service_inquiry',\n    entities: { service_interest: 'mobile_development' },\n    confidence: 0.70,\n    response: \"Are you asking about mobile applications? I can help with app development for iOS, Android, or cross-platform solutions. What specifically would you like to know?\"\n  },\n  website: {\n    intent: 'service_inquiry',\n    entities: { service_interest: 'web_development' },\n    confidence: 0.75,\n    response: \"Are you asking about website development? I can help with custom websites, landing pages, e-commerce sites, and more. What specifically would you like to know?\"\n  },\n  price: {\n    intent: 'request_estimate',\n    entities: { service_type: 'general' },\n    confidence: 0.75,\n    response: \"Are you asking about pricing? I can help with estimates for:\\n• Website development\\n• Mobile apps\\n• Custom software\\n• Design services\\n\\nWhat type of project are you considering?\"\n  },\n  cost: {\n    intent: 'request_estimate',\n    entities: { service_type: 'general' },\n    confidence: 0.75,\n    response: \"Are you asking about costs? I can provide estimates based on project requirements. What type of service are you interested in?\"\n  },\n  support: {\n    intent: 'support_inquiry',\n    entities: { support_type: 'general' },\n    confidence: 0.75,\n    response: \"Are you asking about support services? I can help with:\\n• Technical support hours\\n• Contact information\\n• Emergency support\\n• Maintenance plans\\n\\nWhat specifically do you need help with?\"\n  },\n  timeline: {\n    intent: 'timeline_inquiry',\n    entities: { project_type: 'general' },\n    confidence: 0.75,\n    response: \"Are you asking about project timelines? Typical project durations are:\\n• Simple website: 2-4 weeks\\n• Complex website: 6-12 weeks\\n• Mobile app: 8-16 weeks\\n• Custom software: 12+ weeks\\n\\nWhat type of project are you planning?\"\n  },\n  portfolio: {\n    intent: 'portfolio_request',\n    entities: { request_type: 'general' },\n    confidence: 0.80,\n    response: \"Would you like to see our portfolio? I can show you examples of our work in:\\n• Web development\\n• Mobile applications\\n• E-commerce solutions\\n• Custom software\\n\\nWhich area interests you?\"\n  },\n  payment: {\n    intent: 'payment_inquiry',\n    entities: { payment_query: 'general' },\n    confidence: 0.80,\n    response: \"Are you asking about payment options? We accept:\\n• Credit/Debit cards\\n• Bank transfers\\n• PayPal\\n• Payment plans available\\n\\nWhat would you like to know specifically?\"\n  }\n};\n\n// Check for single-word topics only if intent is still unknown\nif (intent === 'unknown' && userText.split(' ').length <= 2) {\n  const firstWord = textLower.split(' ')[0];\n  \n  if (singleWordTopics[firstWord]) {\n    const topic = singleWordTopics[firstWord];\n    intent = topic.intent;\n    entities = { ...entities, ...topic.entities };\n    confidence = topic.confidence;\n    responseMessage = topic.response;\n    \n    console.log(`Single-word topic detected: ${firstWord}`);\n  }\n}\n\n// ============================================\n// 15. FALLBACK - UNKNOWN INTENT\n// ============================================\n\nif (intent === 'unknown') {\n  confidence = 0.50;\n  responseMessage = \"I'm not sure I understood that completely. Could you please rephrase your question or tell me more about what you're looking for? I can help with:\\n• Pricing and estimates\\n• Service information\\n• Project timelines\\n• Technical support\\n• Scheduling consultations\";\n}\n\n// ============================================\n// FINAL RETURN - UPDATED VERSION\n// ============================================\n\nconsole.log('=== INTENT DETECTION COMPLETE ===');\nconsole.log('Final intent:', intent);\nconsole.log('Final confidence:', confidence);\nconsole.log('Final entities:', entities);\n\n// Get the original request data to preserve conversation context\n// Note: Using the already declared conversationId and redisKey variables\nconst query = userText; // Use the already extracted userText\n\nreturn [{\n  json: {\n    intent: intent,\n    entities: entities,\n    confidence: confidence,\n    original_text: query, // Use the original text\n    response_message: responseMessage,\n    timestamp: new Date().toISOString(),\n    // ADD THESE FIELDS TO PRESERVE CONTEXT:\n    conversationId: conversationId,\n    redisKey: redisKey,\n    query: query // Keep the original query as well\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        32
      ],
      "id": "26703d4a-7fbd-4726-b17e-6e52d304409f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "predict",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        32
      ],
      "id": "e904aaa4-fbdc-4339-a65d-33fc85b41b30",
      "name": "Webhook",
      "webhookId": "3ef045a6-ee4a-4d27-9181-1558ae97e456"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -128,
        32
      ],
      "id": "566b1b1e-d27c-4919-b684-b8ce0fa17b32",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1a0aa16-6857-4550-87e1-da338d9abc83",
  "meta": {
    "instanceId": "8168d89a8ce98e7cbc6e660103a8a39adecf0664c1a6488687ea9c9107d1873b"
  },
  "id": "dQazLR6PJUZ7BHwW",
  "tags": []
}